<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
 
<connectionStrings><add name="Database" connectionString="data source=DESKTOP-Q57ESL7\SQLEXPRESS01;initial catalog=gescom_ism_2021;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>